.App {
  text-align: center;
}

.btn_product_admin{
  background-color: #0407aadc; /* Green */
  border: none;
  color: white;
  padding: 0.2px 0.2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center_image{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.center_text{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.button1 {
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  
  
}

.button2 {
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 10px 24px;
}

.button3 {
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 10px 24px;
}
.button4 {
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 10px 24px;
}
.button5 {
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 10px 24px;
}

.button1 {
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

.button2 {
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

.button3 {
  transition-duration: 0.4s;
}

.button3:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

.button4 {
  transition-duration: 0.4s;
}

.button4:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

.button1 {
  transition-duration: 0.4s;
}

.button5:hover {
  background-color: #aa1504; /* Green */
  color: white;
}


/* deleting btn style */

.button{
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 1px 1px;
}
.button {
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #aa0404; /* Green */
  color: white;
}

/* editing button */

.buttonE{
  background-color: #555555; 
  color: rgb(255, 255, 255);
  padding: 1px 1px;
}
.buttonE {
  transition-duration: 0.4s;
}
.buttonE:hover {
  background-color: #25aa04; /* Green */
  color: white;
}

