 .store-name {
  margin-right: 10px;
  font-size: 30px;
  color: rgb(10, 12, 14);
  font-size: 30px;
}

.cardLowManager {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border: 2px solid #2241b2;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.cardLowManager:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the Lo.cardLowManager container */
.container {
  padding: 2px 16px;
  
}

.containerTwo{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
}


